@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

html,
body {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
}

textarea {
  width: 100%;
  min-height: 7.5rem;
}

input[type='reset'] {
  cursor: pointer;
  z-index: 1;
}

input[type='search'],
input[type='url'],
select {
  background-color: rgb(232, 240, 254);
}

form {
  position: relative;
}

h2.title {
  text-transform: uppercase;
  @apply text-casper font-bold opacity-25 text-3xl;
  text-align: center;
  form & {
    position: absolute;
    inset: 0;
  }
}
