@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

html,
body {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
}

textarea {
  width: 100%;
  min-height: 7.5rem;
}

button {
  white-space: nowrap;
}

input[type='reset'],
.cursor-pointer {
  cursor: pointer;
  z-index: 1;
}

input[type='search'],
input[type='url'],
select {
  background-color: rgb(232, 240, 254);
  max-height: 2.5rem;
}

form {
  position: relative;
}

h2.title {
  text-transform: uppercase;
  @apply text-casper font-bold opacity-25 text-3xl;
  text-align: center;
  form & {
    position: absolute;
    inset: 0 0 auto 0;
  }
}

.toast-error {
  background-color: #ff756e !important;
  opacity: 1 !important;
}

.toast-info {
  background-color: rgb(241, 245, 249) !important;
  color: black !important;
  opacity: 1 !important;
}

#toast-container > div {
  opacity: 1 !important;
  width: 458px !important;
}

.toast-top-right {
  top: 220px !important;
  right: 17px !important;
}
.hljs-string {
  color: #ff473e !important;
  user-select: all !important;
  cursor: copy;
}
.hljs-string.selected {
  color: #4286f4 !important;
}
