$first: 'buyer';
$second: 'escrow';
$third: 'postman';
$last: 'seller';

:host {
  display: grid;
  grid-template-rows: 3.75rem auto 1rem;
}

header {
  @apply flex flex-row justify-between;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px;
}

a {
  @apply flex py-2 ml-8;
}

button {
  @apply font-bold my-2 py-1 px-4 mr-8 rounded bg-casper text-white bg-opacity-75;
  &:hover {
    @apply bg-opacity-100;
  }
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 2rem;
  grid-template-areas: '#{$first} #{$second} #{$third} #{$last}';
}

section {
  @apply py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-black bg-red-400;
}

.#{$first} {
  grid-area: #{$first};
  @apply bg-lime-100;
}

.#{$second} {
  grid-area: #{$second};
  @apply bg-orange-100;
}

.#{$third} {
  grid-area: #{$third};
  @apply bg-pink-100;
}

.#{$last} {
  grid-area: #{$last};
  @apply bg-cyan-100;
}
